body{

    font-family:  Hand;

}
h1{
    color: #CCC788;
}
#pokeimg{
    padding: 20px;

    background-color: #472A28;
    
}
.tex_poke{
    color: white;
}
img{
    border-radius: 5px;

    width: 400px;
    height: 500px;
}
